DATABASE_URL=postgres://searchit:searchit@localhost:5432/searchit
SEARCHIT_WATCH_DIR=../data/incoming
SEARCHIT_PREVIEW_DIR=../data/previews
SEARCHIT_FACE_THUMBNAIL_DIR=../data/face-thumbnails
INFERENCE_URL=http://localhost:8000
FACE_MATCH_MAX_DISTANCE=0.6
FACE_MIN_CONFIDENCE=0.6
PORT=3001
HOST=0.0.0.0
